<div class="container">
    <div class="jumbotron">
        <h3>欢迎来到即时聊天系统chat</h3>
        <p>本站主要使用node + express + mongodb搭建</p>
        <p>
            <a href="/login" class="btn btn-primary" role="button">登录</a>
            <a href="/register" class="btn btn-default" role="button">注册</a>
        </p>
    </div>
</div>